body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Figtree", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 384px;
  height: 522px;
  padding: 20px;
  border: 1px solid #111111;
  background-color: white;
  border-radius: 20px;
  box-shadow: 8px 8px black;
}

.content {
  color: #111111;
}

.content .published-date {
  font-size: 14px;
  font-weight: 500;
}

.content .tag {
  background-color: #f4d04e;
  display: inline-block;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog-image img {
  width: 100%;
}

.content .title {
  font-weight: 800;
  transition: 0.3s;
}

.content .title:hover {
  color: #f4d04e;
  cursor: pointer;
}

.content .description {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author .author-name {
  font-size: 14px;
  font-weight: bold;
}

/* Media Query for 375x812 pixel screens */
@media (max-width: 375px) {
  .card {
    width: 85%; /* Adjust width for smaller screens */
    height: auto; /* Adjust height to fit content */
    padding: 15px; /* Reduce padding */
    box-shadow: 4px 4px black; /* Reduce shadow */
    gap: 20px;
  }

  .content .title {
    font-size: 1.2rem; /* Adjust title font size */
  }

  .content .description {
    font-size: 14px; /* Adjust description font size */
  }

  .content .published-date,
  .author .author-name {
    font-size: 12px; /* Adjust date and author name font size */
  }
  .content .tag {
    font-size: 12px;
    padding: 3px 8px;
  }
  .author img {
    width: 30px;
    height: 30px;
  }
}
